* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background: #2a2c35;
  font-size: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}


.counter {
  height: 500px;
  border: 5px solid #63d9fa;
  padding: 30px;
  border-radius: 20px;
}

.display {
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #63d9fa;
  border-radius: 20px;
  margin-bottom: 40px;
}

.red {
  color: red;
  font-size: 3em ;
}


.button {
  font-weight: bold;
  color: #2a2c35;
  margin-right: 30px;
  background-color: #63d9fa;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
}

.dis {
  font-weight: bold;
  margin-right: 30px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: #417183;
}

.button_container {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  border: 4px solid #63d9fa;

}
.fin:after {
  content: 'FINAL';
  margin: 0 auto;
  color: white;
}
